body{
  margin: 0em;
}
.App {
  width: 100%;
  text-align: center;
  white-space: pre-wrap;
  background: #FCFCFC;
  font-family: "Poppins";
  color: #444;
}

h1{
  font-size: 22px;
}
#cards{
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 60px;
  grid-template-columns: auto auto auto;
  margin-top: 80px;
}
#card_one{
  display: block;
  margin: 0 auto;
  background: #FFF;
  width: 320px;
  height: 140px;
  text-align: left;
  color: #4545FF;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.07), 0 1px 9px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.07), 0 1px 9px rgba(0, 0, 0, 0.1);
}
#cardText{
  padding-left: 20px;
}
#bottomBorderActive{
  background: #4545FF;
  height: 20px;
  width: 100%;
}
#card_one:hover{
  background: linear-gradient(80deg, #FFF,#F3F3F3);
}
#card_two:hover{
  background: linear-gradient(45deg, #FFF,#F3F3F3);
}
#card_three:hover{
  background: linear-gradient(45deg, #FFF,#F3F3F3);
}
#card_two{
  display: block;
  margin: 0 auto;
  background: #FFF;
  width: 320px;
  height: 140px;
  text-align: left;
  overflow: hidden;
  color: #45BB45;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.044), 0 1px 4px rgba(0, 0, 0, 0.058), 0 1px 9px rgba(0, 0, 0, 0.086);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.044), 0 1px 4px rgba(0, 0, 0, 0.058), 0 1px 9px rgba(0, 0, 0, 0.086);
}

#bottomBorderRecovered{
  background: #45BB45;
  height: 20px;
  width: 100%;
}

#card_three{
  display: block;
  margin: 0 auto;
  background: #FFF;
  width: 320px;
  height: 140px;
  text-align: left;
  overflow: hidden;
  color: #FF4554;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.044), 0 1px 4px rgba(0, 0, 0, 0.058), 0 1px 9px rgba(0, 0, 0, 0.086);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.044), 0 1px 4px rgba(0, 0, 0, 0.058), 0 1px 9px rgba(0, 0, 0, 0.086);
}

#bottomBorderDeath{
background: #FF4554;
height: 20px;
width: 100%;
}

@media screen and (max-width: 1200px) {
  #cards{
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 800px) {
  #cards{
    grid-template-columns: auto;
  }
}